main {
    position: relative;
    height: 100%;
    width: 100%;

    img {
        height: auto;
        width: 100%;
        opacity: 0.4;
        position: absolute;
        pointer-events: none;
        z-index: -1;
    }

    canvas {
        width: 100%;
    }

    footer {
        position: fixed;
        bottom: 1em;
        right: 1em;
    }

    .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 1em;

        @media screen and (max-width: 580px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        @media screen and (max-width: 480px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}